<!DOCTYPE html>
<html>

<head>
  <title>About the One-Bar Team</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
  <link rel="stylesheet" type="text/css" href="/styles/about.css" />
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>

<body>

  <header>
    <div id="logo">
      <img src="/assets/logo.png" alt="One-Bar" />
    </div>
    <h1>ABOUT US</h1>
  </header>

  <main>

    <div id="andrew">
      <img src="/assets/andrew.jpg" alt="Picture of Andrew Quamme" title="Andrew Quamme" class="about-photo" />
      <p>My name is Andrew, and I am a current student at Code Fellows. I spend a lot of time outdoors, and I often need information that I cannot access due to lack of cellular data service. The desire to get that information via text message was the genesis of this project idea. </p>
      <a href="https://github.com/andrewquamme"><img src="/assets/github-logo.png"></a>
      <a href="https://www.linkedin.com/in/andrewquamme/"><img src="/assets/linkedin-logo.png"></a>
    </div>

    <div id="adam">
      <img src="/assets/adam.jpg" alt="Picture of Adam Wittnam" title="Adam S. Wittnam" class="about-photo" />
      <p>My name is Adam, and I came to software development from the financial services world.  I really like the idea of working in an industry where fixing problems is expected rather than "someone else's problem."  I was drawn to this project because of the real world usefulness of receiving text info where internet is not available.  That and my uncanny ability to got lost while exploring in the woods.</p>
      <a href="https://github.com/awittnam"><img src="/assets/github-logo.png"></a>
      <a href="https://www.linkedin.com/in/adam-wittnam-0857b0172/"><img src="/assets/linkedin-logo.png"></a>
    </div>

    <div id="michael">
      <img src="/assets/michael.jpg" alt="Picture of Michael George" title="Michael George" class="about-photo" />
      <p>My name is Michael George. I am a father, fiancé, photographer and JavaScript developer. As a photographer, I often find myself in low-service areas and am in need of current information. The need to conquer this dichotomy caught my interest for this project.</p>
      <a href="https://github.com/michaelageorge"><img src="/assets/github-logo.png"></a>
      <a href="https://www.linkedin.com/in/mageorge9492/"><img src="/assets/linkedin-logo.png"></a>
    </div>

    <div id="jared">
      <img src="/assets/jared.jpg" alt="Picture of Jared Pattison" title="Jared Pattison" class="about-photo" />
      <p>Hi, I'm Jared. I live in Lynnwood with my wife and our two naughty dogs. I am an experienced Operations and Project Manager in the Agriculture and Oil & Gas industries. I have been a Technical Program Manager since 2016 and I enjoy the development process, especially problem solving and creating new and useful applications.</p>
      <a href="https://github.com/jaredpattison"><img src="assets/github-logo.png"></a>
      <a href="https://www.linkedin.com/in/jaredpattison/"><img src="/assets/linkedin-logo.png"></a>
    </div>
  </main>

  <footer>

    <div>
      <ul> 
        <li><a href="/">One-Bar</a> &copy; 2018</li>
      <li><a href="/request">Request Access!</a></li>
      </ul>   
    </div>

  </footer>

</body>

<html>