<!DOCTYPE html>
<html>
    <head>
        <title>About the One-Bar Team</title>

        <link rel="stylesheet" type="text/css" href="reset.css" />
        <link rel="stylesheet" type="text/css" href="styles.css" />
        <link rel="stylesheet" type="text/css" href="about.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Love+Ya+Like+A+Sister" rel="stylesheet">  

    </head>
    <body>
        <header>
            <div><a href="index.html"><i class="fas fa-seedling seed"></i></a></div>
            <div><a href="about.html">ABOUT</a></div>
            <div><a href="resources.html">GARDEN INFO</a></div>
<!-- logo and nav placement -->
            <!-- <h1></h1>
                <p></p> -->
        </header>
        <main>
                <h1>ABOUT US</h1>
<!-- pics and bios of the 4 of us -->
            <div>
                <img src="img/heather.jpg" alt="Picture of Andrew Quamme" title="Andrew Quamme" class="about-photo"/>
                <p>My name is Andrew and I like to walk in the wilderness and sometimes I get lost.  That was the genesis of this project idea. </p>
                <a href="https://github.com/andrewquamme"><i class="fab fa-github seed"></i></a>
                <a href="https://www.linkedin.com/in/andrewquamme/"><i class="fab fa-linkedin seed"></i></a>
            </div>
            <div id="adam">
                <img src="img/adam.JPG" alt="Picture of Adam Wittnam" title="Adam Wittnam" class="about-photo" />
                <p>Previously lived in the financial services sector for more than a decade.  Currently into software development due to my nature of needing to create something tangible.</p>
                <a href="https://github.com/awittnam"><i class="fab fa-github seed"></i></a>
                <a href="https://www.linkedin.com/in/adam-wittnam-0857b0172/"><i class="fab fa-linkedin seed"></i></a>
             </div>
             <div>
                <img src="img/michael.jpg" alt="Picture of Michael George" title="Michael George" class="about-photo" />
                <p>My name is Michael George. I am a father, fiancé, photographer and JavaScript developer. It is my goal to display the beauty of the PNW while making an impact in the web development industry. </p>
                <a href="https://github.com/michaelageorge"><i class="fab fa-github seed"></i></a>
                <a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin seed"></i></a>
            </div>
            <div>
                <img src="https://placeholder.com/" alt="Picture of Jared Pattison" title="Jared Pattison" class="about-photo" />
                <p>I used to harvest beavers when I was a younger man.  My brother, our dugout, and a case of brew is all we needed to set sail on a voyage of wonderment riches.  Ehhh?</p>
                <a href="https://www.linkedin.com/in/ryangallaway/"><i class="fab fa-github seed"></i></a>
                <a href="https://github.com/jaredpattison"><i class="fab fa-linkedin seed"></i></a>
            </div>
    
    
        </main>
        <footer>
            <div id="social">
                <a href="#"><i class="fab fa-facebook footer-icon"></i></a>
                <a href="#"><i class="fab fa-instagram footer-icon"></i></a>
                <a href="#"><i class="fab fa-twitter footer-icon"></i></a>
            </div>

            <div>
                <p>&copy; 2018 One-Bar.</p>
            </div>
        </footer>
    </body>

    <script src="app.js"></script>

<html>

  