<!DOCTYPE html>
<html>

  <head>
    <title>One-Bar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/base.css">
  </head>

  <body>

    <header>
      <div id="logo">
        <img src="/assests/logo.png" alt="One-Bar" />
      </div>
    </header>

    <main>
      <div id="h3">
        <h3>One bar offers updated information sent via SMS to your mobile phone upon request. Perfect for quick updates when reception is limited. Just send us your location and then you can request your updates at anytime! You are only one-bar away from connecting with nature!</h3>
      </div>

    <div id="commands">

      <table>
        <thead>
          <tr>
            <th>Keyword</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Options</th>
            <td>Text Options for a List of Commands</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>*Required Command* Text Location Followed by a City and State to Update your Location in our System</td>
          </tr>
          <tr>
            <th>Weather</th>
            <td>Text Weather for Current Weather Conditions in your Area</td>
          </tr>
          <tr>
            <th>Trails</th>
            <td>Text Trails to Receive Nearby Trail Information</td>
          </tr>
          <tr>
            <th>Lodging</th>
            <td>Text Lodging to Receive Nearby Lodging Information</td>
          </tr>
          <tr>
            <th>Gas</th>
            <td>Text Gas to Find Nearby Gas/Service Stations</td>
          </tr>
          <tr>
            <th>Hospitals</th>
            <td>Text Hospitals to Locate Nearby Hospitals/Emergency Rooms</td>
          </tr>
          <tr>
            <th>Headlines</th>
            <td>Text Headlines to Receive Current National News Articles</td>
          </tr>
        </tbody>
      </table>

    </div>

    </main>

    <footer>
      <ul>
        <li><a href="/">One-Bar</a> &copy; 2018</li>
        <li><a href="/about">Meet the Developers!</a></li>
        <li><a href="/request">Request Access!</a></li>
      </ul>
    </footer>

  </body>

</html>