<!DOCTYPE html>
<html>

  <head>
    <title>One-Bar</title>
    <link rel="stylesheet" href="./../../public/styles/reset.css">
    <link rel="stylesheet" href="./../../public/styles/layout.css">
    <link rel="stylesheet" href="./../../public/styles/base.css">
  </head>

  <body>

    <header>
      <h1>Welcome To One-Bar</h1>
      <h2>Connect to Nature</h2>
    </header>

    <main>

      <p>One-Bar offers updated information sent via SMS to your mobile phone upon request. Perfect for quick updates when reception is limited. You can pre-select the information that you want sent to you or simply give us your location and we will send you a default selection that includes weather and news headlines.</p>

      <form>

        <fieldset>

            <legend>Please Enter Your Phone Number:</legend>  
            <label for="#">Phone Number: </label>
            <input name="phoneNumber" type="text" size="14" required />

            <legend>Select Update Options:</legend>  
            <label for="#">Options: </label>
            <ul>
            <li><input type="checkbox" name="option" type="text" size="50" required />Weather</li>
            <li><input type="checkbox" name="option" type="text" size="50" required />Headlines</li>
            <li><input type="checkbox" name="option" type="text" size="50" required />Trail Info</li>
            <li><input type="checkbox" name="option" type="text" size="50" required />Park Alerts</li>
            <li><input type="checkbox" name="option" type="text" size="50" required />Road Closures</li>
            <li><input type="checkbox" name="option" type="text" size="50" required />Gas/Lodging</li>
            <li><input type="checkbox" name="option" type="text" size="50" required />Emergency Room</li>
            <li><input type="checkbox" name="option" type="text" size="50" required />Sports Updates</li>
            <li><input type="checkbox" name="option" type="text" size="50" required />Tide Schedule</li>
            </ul> 

            <legend>Please Enter Your Location:</legend>  
            <label for="#">Location: </label>
            <input name="location" type="text" size="50" required />

        </fieldset>

      </form>

    </main>

    <footer>   
         <p>Copyright: 2018</p>
    </footer>

  </body>

</html>