<!DOCTYPE html>
<html>

  <head>
    <title>One-Bar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  </head>

  <body>

    <header>
      <div id="logo">
        <img src="/assests/logo.png" alt="One-Bar" />
      </div>
    </header>

    <main>
      <div id="h3">
        <h3>One-Bar offers updated information sent via SMS to your mobile phone upon request. Perfect for quick updates when reception is limited. Just send us your location and then you can request your updates at anytime! You are only One-Bar away from connecting with nature!</h3>
        <h3>To become a user, please <a href="/request">CLICK HERE</a> to request access.</h3>
      </div>

    <div id="commands">

      <table>
        <thead>
          <tr>
            <th>Keyword</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>OPTIONS</th>
            <td>Text "OPTIONS" for a list of commands</td>
          </tr>
          <tr>
            <th>LOCATION</th>
            <td><span class="bold">*Required Command*</span> Text "LOCATION" followed by a city and state to update your location in our system</td>
          </tr>
          <tr>
            <th>WEATHER</th>
            <td>Text "WEATHER" for current weather conditions in your area</td>
          </tr>
          <tr>
            <th>TRAILS</th>
            <td>Text "TRAILS" to receive rearby trail information</td>
          </tr>
          <tr>
            <th>LODGING</th>
            <td>Text "LODGING" to receive nearby lodging information</td>
          </tr>
          <tr>
            <th>GAS</th>
            <td>Text "GAS" to find nearby gas/service stations</td>
          </tr>
          <tr>
            <th>HOSPITALS</th>
            <td>Text "HOSPITALS" to locate nearby hospitals/emergency rooms</td>
          </tr>
          <tr>
            <th>HEADLINES</th>
            <td>Text "HEADLINES" to receive current national news articles</td>
          </tr>
        </tbody>
      </table>

    </div>

    </main>

    <footer>
      <ul>
        <li><a href="/">One-Bar</a> &copy; 2018</li>
        <li><a href="/about">Meet the Developers!</a></li>
        <li><a href="/request">Request Access!</a></li>
      </ul>
    </footer>

  </body>

</html>