<!DOCTYPE html>
<html>

<head>
  <title>One-Bar</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/base.css">
</head>

<body>
  <main>

    <h1>Request Access to One-Bar</h1>

    <form action="mailto:contact@one-bar.info" method="post" enctype="text/plain">
      Name:<br>
      <input type="text" name="name"><br>
      E-mail:<br>
      <input type="text" name="email"><br>
      Mobile Number:<br>
      <input type="text" name="phone"><br>
      Comment:<br>
      <input type="text" name="comment" size="50"><br><br>
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
    </form>
  </main>

  <footer>
    <ul>
      <li>One-Bar &copy; 2018</li>
      <li><a href="/about">Meet the Developers</a></li>
    </ul>
  </footer>
</body>

</html>