main h1 {
    margin-bottom: 20px;
  }
  
  main p {
    float: right;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
  }
  
  main img {
    box-shadow: 0px 0px 3px 0px;
  }
  