body {
  background: rgb(253, 253, 246);
  font-family: 'Courier New', Courier, monospace;
  width: 70%;
  margin: auto;
}

header h1{
  width: 100%;
  margin: 10px auto;
  font-size: 32px;
  font-weight: bold;
  text-align: center; 
}

header img {
  width: 200px;
  margin: 10px auto;
}

#logo {
  width: 100%;
  text-align: center;
}

main {
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;

}

main img {
  float: left;
  height: auto;
  margin-right: 20px;
}

main p {
  margin-bottom: 20px;
}

main #andrew {
  margin: 20px 20px;
}

main #adam {
  margin: 20px 20px;
}

main #michael {
  margin: 20px 20px;
}

main #jared {
  margin: 20px 20px;
}

footer {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

footer ul li {
  display: inline-block;
  margin-left: 20px;
}