body {
  background: rgb(253, 253, 246);
  font-family: 'Courier New', Courier, monospace;
  width: 560px;
  margin: auto;
}

header h1{
  width: 100%;
  margin: 10px auto;
  font-size: 32px;
  font-weight: bold;
  text-align: center; 
}

header img {
  width: 200px;
  margin: 10px auto;
}

#logo {
  width: 100%;
  text-align: center;
}

main {
  width: 100%;
}

main form {
  width: 100%;
  text-align: center;
}

main form fieldset {
  padding: 5px;
}

main form input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

main form button {
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer ul li {
  display: inline-block;
}